<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ion Icon Oikos Mania</title>

  <base href="./" />

  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- add to homescreen for ios -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">

  <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>

  <link rel="stylesheet" type="text/css" href="static/ionicons/dist/css/ionicons-core.min.css"/>
  <link rel="stylesheet" type="text/css" href="static/ionicons/dist/css/ionicons.min.css"/>
  <link rel="stylesheet" type="text/css" href="static/@ionic/core/css/ionic.bundle.css"/>

    <link href='https://fonts.googleapis.com/css?family=News+Cycle|Material+Icons' rel="stylesheet" type="text/css">

    <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' rel="stylesheet">

    <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>

    <link href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css" rel="stylesheet">

  <style>

  /* body, html {
    font-family: 'News Cycle', sans-serif !important;
    font-weight: 300 !important;
    margin: 0x;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'News Cycle', sans-serif !important;
    font-weight: 300 !important;
  } */
  .material-icons, .fa, .fab, .far, .fas {
    vertical-align: middle;
  }
  .dignity {
    font-family: 'News Cycle', sans-serif;
  }
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  .material-icons.md-54 { font-size: 54px; }
  .material-icons.md-60 { font-size: 60px; }
  .material-icons.md-72 { font-size: 72px; }

  </style>

  </head>
  <body class="noselect" >
    <ion-app id="app"></ion-app>
    <ion-alert-controller></ion-alert-controller>
    <ion-action-sheet-controller></ion-action-sheet-controller>
    <ion-toast-controller></ion-toast-controller>
    <!-- built files will be auto injected -->


  <%= htmlWebpackPlugin.options.cordova %>
  <script type="text/javascript" src="static/@ionic/core/dist/ionic.js"></script>

  </body>
  <style>
  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
  </style>

  <style>
  :root {
    --ion-font-family: "News Cycle", sans-serif;

    --ion-color-primary: #607d8b;
    --ion-color-primary-rgb: 255,0,0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #e00000;
    --ion-color-primary-tint: #ff1a1a;

    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12,209,232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;

    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112,68,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;

    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16,220,96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;

    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255,206,0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245,61,61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,34,34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }
  </style>
</html>
