<template lang="pug">
ion-grid
  ion-row.ion-align-items-center.ion-justify-content-center.ion-text-center
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button(href='#boing')
        ion-button Funkadelic

    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button(href='#boing') James and the Flames
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button(href='#boing') Fela Kuti
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button(href='#boing') Sun Ra Arkestra

  ion-row.ion-align-items-start.ion-justify-content-center.ion-text-center

    ion-col#boing(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button Cab Calloway
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button Dizzy Gillespie
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button Count Baise-Mois
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button Lionel Hampton

    ion-col#boing(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button Cab Calloway
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button Banda da Lua
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button Buddy Rich
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-sun.fa-5x
      ion-button Artie Shaw



</template>
<script>
export default {}
</script>

<style>
  ion-row {
    min-height: calc(100vh - 60px);
  }
</style>
