<template lang="pug">
h1.ion-margin-start {{ msg }}
  ion-list
    ion-item
      //- ion-label(fixed)
      h5 Esbouço do Aplicativo

    ion-item
      ion-button(@click="setLayout('Full')") Página Cheia

    ion-item
      ion-button(@click="setLayout('Header')") Cabeçalho

    ion-item
      ion-button(@click="setLayout('Menu')") Menu

    //- ion-item
      ion-button(@click="setLayout('Tabs')") Tabulações

    ion-item
      ion-button(@click="setLayout('SplitPane')") Janela Partida
//-
    ion-item
      ion-label(fixed='') Sample Controllers

    ion-item
      ion-button(@click='sampleAlert()') Alert

    ion-item
      ion-button(@click='sampleActionSheet()') ActionSheet

    ion-item
      ion-button(@click='sampleToast()') Toast

  ion-searchbar(:value='searched', @ionchange='searched=$event.target.value', :debounce='500') searching for {{searched}}...

  ion-list
    ion-item
      ion-icon(name='logo-twitter') Followers

      ion-badge 260k

    ion-item
      ion-label(fixed='') Input Text

      ion-input(type='text', :value='msg', @ionchange='msg=$event.target.value')

    ion-item
      ion-label(fixed='') Input Text (v-ion-model)

      ion-input(type='text', v-ion-model='msg', @input='didSomeInput')

    ion-item
      ion-label Toggle [{{toggled}}]

      ion-toggle(:checked='toggled', @ionchange='toggled=$event.target.checked ? true : false')

    ion-item
      ion-label Toggle (v-ion-model) [{{toggled}}]

      ion-toggle(v-ion-model='toggled')

    ion-item
      ion-label Checkbox [{{checkboxed}}]

      ion-checkbox(color='dark', :checked='checkboxed', @ionchange='checkboxed=$event.target.checked ? true : false')

    ion-item
      ion-label Checkbox (v-ion-model) [{{checkboxed}}]

      ion-checkbox(v-ion-model='checkboxed')

    ion-item
      ion-label Date/Time {{dated}}

      ion-datetime(displayformat='h:mm A', pickerformat='h mm A', :value='dated', @ionchange='dated=$event.target.value')

    ion-item
      ion-label Date/Time (v-ion-model) {{dated}}

      ion-datetime(displayformat='h:mm A', v-ion-model='dated')

    ion-item
      ion-textarea(v-ion-model='texted', placeholder='Enter more information here...')

    ion-item
      | {{texted}}

  ion-card
    ion-card-header
      | Card Header

    ion-card-content
      | Card content

  ion-radio-group(:value='radioed', @ionchange='radioed=$event.target.value')
    ion-list-header
      | Radio Group [{{radioed}}]

    ion-item
      ion-label Go

      ion-radio(value='go')

    ion-item
      ion-label Rust

      ion-radio(value='rust')

    ion-item(disabled='true')
      ion-label Python

      ion-radio(value='python')

  ion-radio-group(v-ion-model='radioed')
    ion-list-header
      | Radio Group (v-ion-model) [{{radioed}}]

    ion-item
      ion-label Go

      ion-radio(value='go')

    ion-item
      ion-label Rust

      ion-radio(value='rust')

    ion-item(disabled='true')
      ion-label Python

      ion-radio(value='python')

  ion-item
    ion-label Range [{{ranged}}]

    ion-range(:value='ranged', @ionchange='ranged=$event.target.value')
      ion-icon(size='small', name='sunny', slot='start')

      ion-icon(name='sunny', slot='end')

  ion-item
    ion-label Range (v-ion-model) [{{ranged}}]

    ion-range(v-ion-model='ranged')
      ion-icon(size='small', name='sunny', slot='start')

      ion-icon(name='sunny', slot='end')

  ion-list
    ion-item
      ion-label Gaming [{{selected}}]

      ion-select(:value='selected', @ionchange='selected=$event.target.value')
        ion-select-option(value='nes') NES

        ion-select-option(value='n64') Nintendo64

        ion-select-option(value='ps') PlayStation

        ion-select-option(value='genesis') Sega Genesis

        ion-select-option(value='saturn') Sega Saturn

        ion-select-option(value='snes') SNES

    ion-item
      ion-label Gaming (v-ion-model) [{{selected}}]

      ion-select(v-ion-model='selected')
        ion-select-option(value='nes') NES

        ion-select-option(value='n64') Nintendo64

        ion-select-option(value='ps') PlayStation

        ion-select-option(value='genesis') Sega Genesis

        ion-select-option(value='saturn') Sega Saturn

        ion-select-option(value='snes') SNES

  ion-slides(pager='')
    ion-slide(style='background-color: green')
      h2 Slide 1

    ion-slide(style='background-color: blue')
      h2 Slide 2

    ion-slide(style='background-color: red')
      h2 Slide 3

  ion-list
    ion-item-sliding
      ion-item
        ion-label(fixed='') Slide me to the left

      ion-item-options
        ion-item-option(@click='option1($event)', color='green') Option 1

        ion-item-option Option 2
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      texted: '',
      searched: '',
      dated: null,
      selected: 'n64',
      toggled: true,
      checkboxed: true,
      radioed: 'python',
      ranged: 10,
      msg: 'Hyvästi, Julma Maailma'
    }
  },

  mounted () {
    window.$app = this
  },

  methods: {
    option1 (e) {
      Array.prototype.forEach.call(
        document.querySelectorAll('ion-item-sliding'),
        s => {
          s.closeOpened()
        }
      )
    },
    setLayout (layout) {
      this.$store.commit('ui/SET_LAYOUT', layout)
    },

    async sampleAlert () {
      await this.$ionic.alert.componentOnReady()
      this.$ionic.alert
        .create({
          header: 'Watch Out!',
          subHeader: 'Mongo on the Bongos',
          message: 'Speaking lorem ipsum in Greek is for a geek. Speaking lorem ipsum in Russki is for driving a Fusca.',
          buttons: ['Informed Consent']
        })
        .then(a => {
          a.present()
        })
    },

    async sampleActionSheet () {
      await this.$ionic.actionSheet.componentOnReady()
      this.$ionic.actionSheet
        .create({
          header: 'Albums',
          buttons: [
            {
              text: 'Delete',
              role: 'destructive',
              icon: 'trash',
              handler: () => {
                console.log('Delete clicked')
              }
            },
            {
              text: 'Share',
              icon: 'share',
              handler: () => {
                console.log('Share clicked')
              }
            },
            {
              text: 'Play (open modal)',
              icon: 'arrow-dropright-circle',
              handler: () => {
                console.log('Play clicked')
              }
            },
            {
              text: 'Favorite',
              icon: 'heart',
              handler: () => {
                console.log('Favorite clicked')
              }
            },
            {
              text: 'Cancel',
              icon: 'close',
              role: 'cancel',
              handler: () => {
                console.log('Cancel clicked')
              }
            }
          ]
        })
        .then(a => {
          a.present()
        })
    },

    async sampleToast () {
      await this.$ionic.toast.componentOnReady()
      this.$ionic.toast
        .create({
          message: 'Click to Close',
          showCloseButton: true,
          position: 'top',
          closeButtonText: 'Done'
        })
        .then(a => {
          a.present()
        })
    },

    didSomeInput (x) {
      console.log(x)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
