<template lang="pug">
ion-grid
  ion-row.ion-align-items-center.ion-justify-content-center.ion-text-center
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button(href='#boing')
        ion-button The Kinks

    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button(href='#boing') The Animals
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button(href='#boing') The Zombies
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button(href='#boing') The Who

  ion-row.ion-align-items-start.ion-justify-content-center.ion-text-center

    ion-col#boing(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button Rolling Stones
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button Cream
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button The Yardbirds
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button The Byrds

    ion-col#boing(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button The Sex Pistols
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button Steppenwolf
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button Pink Floyd
    ion-col(size="12" size-sm)
      h1
        i.fas.fa-chess-rook.fa-5x
      ion-button The Silver Beatles



</template>
<script>
export default {}
</script>

<style>
  ion-row {
    min-height: calc(100vh - 60px);
  }
</style>
