<template>
  <ion-app id="app">
    <ion-content main>
      <router-view />
    </ion-content>
  </ion-app>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style scoped>
</style>
