<template lang="pug">
ion-app#app
  ion-header
    ion-toolbar
      ion-title
        i.fas.fa-cogs.fa-2x.ion-margin-end
        | Engenho de Despenho

      ion-buttons(slot='end')
        router-link(to='/ ')
          ion-button
            ion-icon.grows(name='airplane')

  ion-content(main)
    router-view
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style scoped>
.grows {
  font-size: 36px;
}

</style>
