<template lang="pug">
ion-app#app
  ion-menu(name='menu', :type='type')
    .ion-page
      ion-header
        ion-toolbar(color='primary')
          ion-title
            i.fas.fa-cogs.fa-2x.ion-margin-end
            | Engenho de Despenho

          ion-buttons(slot='end')

            router-link(to='/yetAnother')
              ion-button
                i.material-icons.md-36 directions_bike

      ion-content
        ion-list
          ion-list-header
            | Navegar é Preciso

          ion-menu-toggle(auto-hide='false')
            router-link(to='/')
              ion-item(button)
                ion-icon(slot='start' name='home')
                ion-label
                  | In Media Res

          router-link(to='/another')
            ion-item(button)
              ion-icon(slot='start', name='airplane')

              ion-label
                | In Principio Erat

          router-link(to='/another')
            ion-item(button)
              ion-icon(slot='start', name='bicycle')

              ion-label
                | Cations

          router-link(to='/another')
            ion-item(button)
              ion-icon(slot='start', name='construct')

              ion-label
                | Anions

          router-link(to='/another')
            ion-item(button)
              ion-icon(slot='start', name='key')

              ion-label
                | Onions

          router-link(to='/another')
            ion-item(button)
              ion-icon(slot='start', name='mic')

              ion-label
                | Lions

          router-link(to='/another')
            ion-item(button)
              ion-icon(slot='start', name='outlet')

              ion-label
                | Scions

          router-link(to='/another')
            ion-item(button)
              ion-icon(slot='start', name='aperture')

              ion-label
                | Paraguayans

          router-link(to='/another')
            ion-item(button)
              ion-icon(slot='start', name='sunny')

              ion-label
                | Hawaiians
          router-link(to='/another')
            ion-item(button)
              ion-icon(slot='start', name='restaurant')

              ion-label
                | Zion


  .ion-page(main)
    ion-header
      ion-toolbar
        ion-buttons(slot='start')
          ion-menu-toggle
            ion-button
              ion-icon(slot='icon-only', name='menu')

        ion-title
          i.fas.fa-chess.fa-2x.ion-margin-end
          | Mated and Fated

    ion-content
      router-view

</template>

<script>
export default {
  data () {
    return {
      type: 'overlay' // reveal, push, overlay
      // reveal is buggy on ios
    }
  }
}
</script>

<style scoped>
</style>
