<template lang="pug">
ion-app#app
  ion-split-pane(when='sm')
    ion-menu(type='overlay')
      .ion-page
        ion-header
          ion-toolbar(color='primary')
            ion-title
              i.material-icons.md-36.ion-margin-end restaurant
              | Ironic Is Ionic Onion

        ion-content
          ion-list
            ion-list-header
              | Clicks to Mix and Fix

            ion-menu-toggle(auto-hide='false')
              router-link(to='/')
                ion-item(button)
                  ion-icon(slot='start', name='bicycle')

                  ion-label
                    | In Principio

            router-link(to='/another')
              ion-item(button)
                ion-icon(slot='start', name='add-circle-outline')

                ion-label
                  | In Media Res

            router-link(to='/yetAnother')
              ion-item(button)
                ion-icon(slot='start', name='infinite')

                ion-label
                  | Nihil Mihi Alienum Puto

    .ion-page(main)
      ion-header
        ion-toolbar
          ion-buttons(slot='start')
            ion-menu-toggle
              ion-button
                ion-icon(slot='icon-only', name='menu')

          ion-title
            i.material-icons.md-36.ion-margin-end mic
            | Bandas de Música Oba

      ion-content
        router-view
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style scoped>
</style>
